In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.datasets import load_iris
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA
from sklearn import preprocessing

In [2]:
df = pd.read_csv("./anime.csv")

In [3]:
sorted_ = df[["Name", "Score", "Genres","Episodes", "Ranked", "Popularity", "Members", "Favorites", "Watching", "Completed", "On-Hold", "Dropped", "Plan to Watch"]]
sorted_ = sorted_[(sorted_["Score"] != "Unknown")& (sorted_["Episodes"] != "Unknown")& (sorted_["Ranked"] != "Unknown")]

In [4]:
sorted_

,Name,Score,Genres,Episodes,Ranked,Popularity,Members,Favorites,Watching,Completed,On-Hold,Dropped,Plan to Watch
0,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",26,28.0,39,1251960,61971,105808,718161,71513,26678,329800
1,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",1,159.0,518,273145,1174,4143,208333,1935,770,57964
2,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",26,266.0,201,558913,12944,29113,343492,25465,13925,146918
3,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",26,2481.0,1467,94683,587,4300,46165,5121,5378,33719
4,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",52,3710.0,4369,13224,18,642,7314,766,1108,3394
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17504,Kimetsu Gakuen: Valentine-hen,6.59,Comedy,4,5461.0,3814,18161,72,617,6978,118,62,10386
17505,Heikousen,7.52,"Music, Romance",1,1517.0,10869,832,27,17,549,8,1,257
17512,Nu Wushen de Canzhuo Spring Festival Special,6.83,"Slice of Life, Comedy",1,4382.0,11973,540,8,51,168,18,2,301
17513,Yakusoku no Neverland 2nd Season: Michishirube,4.81,"Mystery, Psychological, Supernatural, Thriller...",1,10760.0,4398,13070,90,1183,8196,119,202,3370
17552,SK∞: Crazy Rock Jam,6.52,"Comedy, Sports",1,5799.0,4830,10722,167,739,7207,57,45,2674

In [5]:
normalized_df = pd.DataFrame(data=sorted_[["Score","Episodes", "Ranked"]])
x = normalized_df.values #returns a numpy array
min_max_scaler = preprocessing.StandardScaler()
x_scaled = min_max_scaler.fit_transform(x)
normalized_df = pd.DataFrame(x_scaled)
normalized_df

              0         1         2
0      2.469500  0.300379 -1.722704
1      2.036527 -0.253147 -1.681669
2      1.869999  0.300379 -1.648152
3      0.793118  0.300379 -0.954319
4      0.471164  0.876047 -0.569343
...         ...       ...       ...
10990  0.038191 -0.186724 -0.020855
10991  1.070664 -0.253147 -1.256285
10992  0.304635 -0.253147 -0.358844
10993 -1.937942 -0.253147  1.639019
10994 -0.039522 -0.253147  0.085021

[10995 rows x 3 columns]

In [12]:
# Определяем модель
normalized_df = normalized_df.drop(['Clusters'], axis=1)
dbscan = DBSCAN(eps=0.01,
    min_samples=20,)

# Обучаем
dbscan.fit(normalized_df)

# Уменьшаем размерность при помощи метода главных компонент
pca = PCA(n_components=3).fit(normalized_df)
pca_3d = pca.transform(normalized_df)

In [13]:
normalized_df['Clusters'] = dbscan.labels_

In [14]:
normalized_df[(normalized_df["Clusters"] != -1)]

              0         1         2  Clusters
61     0.260228 -0.253147 -0.322508        17
132    0.038191 -0.253147 -0.033698         0
167    0.726506 -0.253147 -0.876008         1
185    0.337941 -0.253147 -0.415854         2
329   -0.017319 -0.253147  0.051817         3
...         ...       ...       ...       ...
10973  0.038191 -0.253147 -0.026493         0
10976  0.215821 -0.253147 -0.272389        24
10985  0.404552 -0.253147 -0.491346        19
10986 -0.017319 -0.253147  0.044299         3
10988 -0.972079 -0.253147  1.150987        69

[1601 rows x 4 columns]

In [15]:
normalized_df['Clusters'].unique()

array([-1, 17,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 29, 10, 32, 36, 52,
       11, 12, 24, 13, 14, 15, 66, 34, 16, 39, 70, 67, 18, 19, 55, 20, 21,
       23, 63, 40, 71, 22, 28, 25, 45, 26, 27, 30, 31, 49, 33, 57, 35, 37,
       43, 38, 69, 64, 60, 68, 41, 42, 47, 44, 65, 61, 46, 48, 51, 50, 53,
       54, 56, 58, 59, 62], dtype=int64)

In [ ]:
# Строим в соответствии с тремя классами
for i in range(0, pca_2d.shape[0]):
    if dbscan.labels_[i] == 0:
        c1 = plt.scatter(pca_2d[i, 0], pca_2d[i, 1], c='r', marker='+')
    elif dbscan.labels_[i] == 1:
        c2 = plt.scatter(pca_2d[i, 0], pca_2d[i, 1], c='g', marker='o')
    elif dbscan.labels_[i] == -1:
        c3 = plt.scatter(pca_2d[i, 0], pca_2d[i, 1], c='b', marker='*')
        
        
for i in range(0, pca_2d.shape[0]):
    if dbscan.labels_[i] == 0:
        c1 = plt.scatter(pca_2d[i, 0], pca_2d[i, 1], c='r', marker='+')
    elif dbscan.labels_[i] == 1:
        c2 = plt.scatter(pca_2d[i, 0], pca_2d[i, 1], c='g', marker='o')
    elif dbscan.labels_[i] == -1:
        c3 = plt.scatter(pca_2d[i, 0], pca_2d[i, 1], c='b', marker='*')


plt.legend([c1, c2, c3], ['Кластер 1', 'Кластер 2', 'Шум'])
plt.title('DBSCAN нашел 2 кластера и шум')
plt.show()